In [226]:
import pandas as pd
from numpy.random import randn
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import random 

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pandas.core import datetools
import seaborn as sns
from IPython.display import display, Math, Latex
#from numpy.random import randn
%matplotlib inline

In [5]:
#https://en.wikipedia.org/wiki/Confusion_matrix

In [7]:
Actual_Cat=[5,3,0]
Actual_Dog=[2,3,1]
Actual_Rabbit=[0,2,11]
Predicted_Cat=[5,2,0]
Predicted_Dog=[3,3,2]
Predicted_Rabbit=[0,1,11]

In [58]:
Wiki_Example_1=pd.DataFrame(np.array([5,2,0,3,3,2,0,1,11]).reshape(3,3),index=[['Predicted','Predicted','Predicted'],['Cat','Dog','Rabbit']],columns=[['Actual','Actual','Actual'],['Cat','Dog','Rabbit']])

In [59]:
Wiki_Example_1

                 Actual
                    Cat Dog Rabbit
Predicted Cat         5   2      0
          Dog         3   3      2
          Rabbit      0   1     11

In [24]:
pd.DataFrame({'Actual_Cat':Actual_Cat,'Actual_Dog':Actual_Dog,'Actual_Rabbit':Actual_Rabbit,'Predicted_Cat':Predicted_Cat,'Predicted_Dog':Predicted_Dog,'Predicted_Rabbit':Predicted_Rabbit })

,Actual_Cat,Actual_Dog,Actual_Rabbit,Predicted_Cat,Predicted_Dog,Predicted_Rabbit
0,5,2,0,5,3,0
1,3,3,2,2,3,1
2,0,1,11,0,2,11

In [61]:
Wiki_Example_2=pd.DataFrame(np.array(['5 True Positive','2 False Positives','3 False Negatives','17 True Negatives']).reshape(2,2),index=[['Actual','Actual'],['Cat','Non-Cat']],columns=[['Predicted','Predicted'],['Cat','Non-Cat']])

In [62]:
Wiki_Example_2

                        Predicted
                              Cat            Non-Cat
Actual Cat        5 True Positive  2 False Positives
       Non-Cat  3 False Negatives  17 True Negatives

In [63]:
Wiki_Example_2=pd.DataFrame(np.array([5,2,3,17]).reshape(2,2),index=[['Actual','Actual'],['Cat','Non-Cat']],columns=[['Predicted','Predicted'],['Cat','Non-Cat']])

In [64]:
Wiki_Example_2

               Predicted
                     Cat Non-Cat
Actual Cat             5       2
       Non-Cat         3      17

In [86]:
Wiki_Example_3=Wiki_Example_2

In [87]:
#Wiki_Example_3.index.names=['0',1]

In [88]:
Wiki_Example_3

                                                     True Condition  \
                                                 Condition Positive
Predicted Condition Predicted Positive          True Positive-Power
                    Predicted Negative  False Negative=Type 2 Error


                                                 Condition Negative
Predicted Condition Predicted Positive  False Positive-Type 1 Error
                    Predicted Negative                True Negative

In [92]:
Conf_Matrix=['True Positive, Power','False Positive, Type 1 Error','False Negative=Type 2 Error','True Negative']

In [93]:
Wiki_Example_2=pd.DataFrame(np.array(Conf_Matrix).reshape(2,2),index=[['Predicted Condition','Predicted Condition'],['Predicted Positive','Predicted Negative']],columns=[['True Condition','True Condition'],['Condition Positive','Condition Negative']])

In [97]:
Wiki_Example_2

                                                     True Condition  \
                                                 Condition Positive
Predicted Condition Predicted Positive         True Positive, Power
                    Predicted Negative  False Negative=Type 2 Error


                                                  Condition Negative
Predicted Condition Predicted Positive  False Positive, Type 1 Error
                    Predicted Negative                 True Negative

In [101]:
Wiki_Example_3=pd.DataFrame(np.array([5,2,7,
                                      3,17,20,
                                     8,19,27]).reshape(3,3),index=[['Actual','Actual','Actual'],['Cat','Non-Cat','Total']],columns=[['Predicted','Predicted','Predicted'],['Cat','Non-Cat','Total']])

In [102]:
Wiki_Example_3

               Predicted
                     Cat Non-Cat Total
Actual Cat             5       2     7
       Non-Cat         3      17    20
       Total           8      19    27

_______________________________

**condition positive (P)**

    the number of real positive cases in the data
    
**condition negative (N)**

    the number of real negative cases in the data

**true positive (TP)**

    eqv. with hit
    
**true negative (TN)**

    eqv. with correct rejection
    
**false positive (FP)**

    eqv. with false alarm, Type I error
    
**false negative (FN)**

    eqv. with miss, Type II error

**Sensitivity, recall, hit rate, or true positive rate (TPR)**

In [115]:
Math(r'TPR = \frac{TP}    {TP+FN}=\frac{TP}    {P}=1-FNR_{False Negative Rate} ')

**Specificity, selectivity or true negative rate (TNR)**

In [116]:
Math(r'TNR = \frac{TN}    {N}=\frac{TN}    {TN+FP}=1-FNR_{False Positive Rate} ')

**Precision or positive predictive value (PPV)**

In [119]:
Math(r'PPV = \frac{TP}    {TP+FP}')

**Negative predictive value (NPV)**

In [120]:
Math(r'NPV = \frac{TN}    {TN+FN}')

**Miss rate or false negative rate (FNR)**

In [122]:
Math(r'FNR = \frac{FN}    {P}=\frac{FN}    {FN+TP}=1-FPR_{False Positive Rate} ')

**Fall-out or false positive rate (FPR)**

In [124]:
Math(r'FPR = \frac{FP}    {N}=\frac{FP}    {FP+TN}=1-TNR')

**False discovery rate (FDR)**

In [130]:
Math(r'FDR = \frac{FP}    {FP+TP}=1-PPV_{+}')

**False omission rate (FOR)**

In [131]:
Math(r'FOR = \frac{FN}    {FN+TN}=1-NPV_{-}')

**Accuracy (ACC)**

In [134]:
Math(r'ACC = \frac{TP+TN}    {P+N}=\frac{TP+TM}    {TP+TN+FP+FN} ')

**F1 Score**
- is the harmonic mean of precision and sensitivity

In [136]:
Math(r'F_{1} = 2*\frac{PPV*TPR}    {PPV+TPR}=\frac{2TP}    {2TP+FP+FN} ')

**Matthews correlation coefficient (MCC)**

In [149]:
Math(r'MCC = \frac{TP*TN-FP*FN}    {\sqrt{(TP+FP)(TP+FN)(TN+FP)(TN+FN))}} ')

**Informedness or Bookmaker Informedness (BM)**

In [150]:
Math(r'BM = TPR+TNR-1')

**Markedness (MK)**

In [151]:
Math(r'MK = PPV+NPV-1')

________________________

In [152]:
Wiki_Example_3

               Predicted
                     Cat Non-Cat Total
Actual Cat             5       2     7
       Non-Cat         3      17    20
       Total           8      19    27

Here I am creating random numbers to demonstrate a somewhat realistic example using random numbers.

*Note: I restricted the predictions to be within the same range of values as the 'Actuals' to help demonstration purposes*

In [414]:
Actual=pd.DataFrame(np.random.randint(5, size=(1, 100)).reshape(100,1),columns=['Actual'])
Actual_Range=int((max(Actual['Actual'])+1)-min(Actual['Actual']))#Range of Actual data
Prediction=pd.DataFrame(np.random.randint(Actual_Range, size=(1, 100)).reshape(100,1),columns=['Prediction'])
Table=Actual
Table['Prediction']=Prediction
Table

    Actual  Prediction
0        0           3
1        3           4
2        1           4
3        2           0
4        0           1
5        3           2
6        2           2
7        3           0
8        2           1
9        1           1
10       0           3
11       4           3
12       0           2
13       3           0
14       4           2
15       1           4
16       4           3
17       0           1
18       2           3
19       3           1
20       3           3
21       4           1
22       1           2
23       2           4
24       3           1
25       1           2
26       3           2
27       2           2
28       2           1
29       0           1
..     ...         ...
70       1           3
71       3           1
72       4           4
73       1           2
74       0           4
75       2           0
76       1           1
77       3           2
78       0           0
79       4           4
80       0           0
81       2           4
82       2           3
83       2           3
84       2           2
85       1           4
86       1           1
87       4           0
88       0           2
89       0           2
90       1           3
91       0           1
92       2           3
93       0           1
94       3           2
95       1           2
96       0           4
97       1           3
98       3           1
99       4           3

[100 rows x 2 columns]

*'Predictions' that **match** 'Actual' observations*

In [415]:
Matches=Table[Table['Actual']==Table['Prediction']]
print('Total Matches: '+str(len(Matches['Prediction'])))

Matches

Total Matches: 19

    Actual  Prediction
6        2           2
9        1           1
20       3           3
27       2           2
33       2           2
36       0           0
40       3           3
48       4           4
50       2           2
59       0           0
67       3           3
69       0           0
72       4           4
76       1           1
78       0           0
79       4           4
80       0           0
84       2           2
86       1           1

*'Predictions' that **Do Not** match 'Actual' observations*

In [416]:
NonMatches=Table[Table['Actual']!=Table['Prediction']]
print('Total Non-Matches: '+str(len(NonMatches['Prediction'])))
NonMatches

Total Non-Matches: 81

    Actual  Prediction
0        0           3
1        3           4
2        1           4
3        2           0
4        0           1
5        3           2
7        3           0
8        2           1
10       0           3
11       4           3
12       0           2
13       3           0
14       4           2
15       1           4
16       4           3
17       0           1
18       2           3
19       3           1
21       4           1
22       1           2
23       2           4
24       3           1
25       1           2
26       3           2
28       2           1
29       0           1
30       0           4
31       4           2
32       2           3
34       0           4
..     ...         ...
61       0           3
62       1           3
63       0           2
64       4           2
65       3           2
66       3           0
68       2           0
70       1           3
71       3           1
73       1           2
74       0           4
75       2           0
77       3           2
81       2           4
82       2           3
83       2           3
85       1           4
87       4           0
88       0           2
89       0           2
90       1           3
91       0           1
92       2           3
93       0           1
94       3           2
95       1           2
96       0           4
97       1           3
98       3           1
99       4           3

[81 rows x 2 columns]

Here I will select an *'Outcome of Interest'* as an example

In [463]:
Interest=random.choice(Actual['Actual'])
totObsActual=len(Actual[Actual['Actual']==Interest])
totObsPredict=len(Prediction[Prediction['Prediction']==Interest])
print('Select the Outcome of Interest: ',Interest)
print(' ')
print('Length of data: ',len(Prediction))
print("Total Observed Outcome of Interest in 'Actual': " +str(totObsActual))
print("Total Observed Outcome of Interest in 'Predicted' cases: " +str(totObsPredict))
print(' ')

Select the Outcome of Interest:  2

Length of data:  100
Total Observed Outcome of Interest in 'Actual': 20
Total Observed Outcome of Interest in 'Predicted' cases: 26

In [464]:
True_Pos=int(len(Matches[Matches['Prediction']==Interest]))
print('True Positive: ',True_Pos)

True Positive:  5

In [465]:
True_Neg=int(len(Matches[Matches['Prediction']!=Interest]))
print('True Negative: ',True_Neg)

True Negative:  14

In [466]:
False_Pos=int(len(NonMatches[NonMatches['Prediction']==Interest]))
print('False Positive, Type I error:',False_Pos)

False Positive, Type I error: 21

In [467]:
False_Neg=int(len(NonMatches[NonMatches['Prediction']!=Interest]))
print('False Negative, Type II error:',False_Neg)

False Negative, Type II error: 60

In [472]:
True_Pos,False_Pos,True_Pos+False_Pos,False_Neg,True_Neg,False_Neg,+True_Neg,True_Pos+False_Neg,False_Pos+True_Neg,True_Pos+False_Pos+True_Neg+False_Neg

(5, 21, 26, 60, 14, 60, 14, 65, 35, 100)

In [483]:
PredPos=True_Pos+False_Pos
PredNeg=False_Neg+True_Neg
ObsPos=True_Pos+False_Neg
ObsNeg=False_Pos+True_Neg
TotalObs=True_Pos+False_Pos+False_Neg+True_Neg

pd.DataFrame(np.array([True_Pos,False_Pos,PredPos,
                       False_Neg,True_Neg,PredNeg,
                       ObsPos,ObsNeg,TotalObs
                      ]).reshape(3,3),index=['Cond. +','Cond. -','Total'],columns=['Cond. +','Cond. -','Total'])

         Cond. +  Cond. -  Total
Cond. +        5       21     26
Cond. -       60       14     74
Total         65       35    100

_____

**Turn into array**

In [185]:
Actual=np.array(Actual)
Prediction=np.array(Prediction)